* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  /*   border: 1px solid red; */
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
